.notice {
  padding: 10px;
  border-radius: 4px;
  margin: 20px 0;
}
.notice.error {
  border: 2px solid #f3d3d3;
  background: #f3d3d3;
  color: #762c2c;
}
.notice.success {
  border: 2px solid #2c742b;
  background: #e1fee3;
  color: #2c742b;
}